<!DOCTYPE html>
<html lang="en">

{% include "partials/head.njk" %}

<body class="flex flex-col min-h-screen">
<div class="h-4 bg-gradient-to-r from-blue-300 via-green-300 to-green-200"></div>
<header class="flex flex-col items-center mx-8">
  <div class="my-5 text-3xl font-bold tracking-tight text-center text-gray-600 transition sm:leading-normal sm:text-5xl sm:my-9">
    {{ title }}
  </div>
</header>
<main>
  {{ content | safe }}
</main>
{% include "partials/adminButton.njk" %}
{% include "partials/footer.njk" %}

</body>
</html>