---
layout: layouts/base.njk
---
<div class="h-4 bg-gradient-to-r from-blue-300 via-green-300 to-green-200"></div>
<header class="flex flex-col items-center mx-8">
  <div class="my-5 text-3xl font-bold tracking-tight text-center text-gray-600 transition sm:leading-normal sm:text-5xl sm:my-9">
    {{ title or site.title }}
  </div>
</header>
<div class="flex items-center mb-4">
  <div class="px-5 py-10 mx-auto border-t border-gray-200 sm:border-t-4 sm:border-gray-500 sm:border-dotted">
    <article class="mb-5 overflow-auto prose lg:prose-lg">{{ content | safe }}</article>

    {% BaseForm form, "main-"+page.fileSlug, "" %}

  </div>
</div>