---
layout: layouts/base.njk
---
<div class="flex items-center mb-4">
  <div class="mx-auto px-5 border-t border-gray-200 py-10 sm:border-t-4 sm:border-gray-500 sm:border-dotted">
    <article class="overflow-auto mb-5 prose lg:prose-lg">{{ content | safe }}</article>

    {% set fields = form %}
    {{ form | debug | safe }}

    <form class="mx-auto max-w-xl border-t-2 border-gray-500 border-dotted py-5 sm:border-t-2 sm:border-solid sm:shadow-xl sm:p-8 sm:border-gray-50 sm:rounded-lg">

      {% for field in fields %}
        {% if field.enum %}
          {% Group field.id, field.label  %}
            {% SelectField field.id, field.id, true, null, field.enum %}
          {% endGroup %}
        {% else %}
          {% Group field.id, field.label  %}
            <input {% Text field.id , field.id , "" , true %}>
          {% endGroup %}
        {% endif %}
      {% endfor %}

      <div class="rounded-b-lg flex flex-row-reverse">
        <button {% Button %}>Submit</button>
      </div>

    </form>
  </div>
</div>