---
layout: layouts/base.njk
---
<div class="flex items-center mb-4">
  <div class="max-w-3xl px-5 py-10 mx-auto border-t border-gray-200 sm:border-t-4 sm:border-gray-500 sm:border-dotted">
    <article class="mb-5 prose lg:prose-lg">{{ content | safe }}</article>
    <div class="w-full">
      <ul class="flex flex-wrap justify-center">
        {%- for form in collections.forms -%}
          <li class="block w-full px-2 py-2 sm:w-1/2">
            <a href="{{ form.url }}" class="block h-full p-5 text-lg text-gray-600 transition duration-200 ease-in-out border rounded shadow hover:text-white bg-gradient-to-tr hover:from-blue-300 hover:to-green-300 focus:ring-4 ring-green-300 focus:outline-none">
              <p class="text-sm font-bold">Demo</p>
              <p>{{ form.data.title }}</p>
            </a>
          </li>
        {%- endfor -%}
        </ul>
    </div>
  </div>
</div>
