---
permalink: /admin/super/config.yml
---
{# Parent -#}
{%- include "./config.part.yml" %}

{# Theme #}
{% for theme in themes.register %}
{% include "theme/" + theme + "/config.part.yml" ignore missing %}
{% endfor %}