---
permalink: /admin/super/config.yml

# reusable strings  #
az09-pt: "^[a-z0-9-]*$"
az09-hint: "Must only contain small alphabet, 0-9 and -"
uq: Must be unique value

---
{# Parent -#}
{%- include "./config.part.yml" %}

{# Theme #}
{% for theme in themes.register %}
{% include "theme/" + theme + "/config.part.yml" ignore missing %}
{% endfor %}

