---
permalink: /admin/index.html
---
<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <title>Content Manager - Netlify CMS</title>
</head>

<body>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>
  <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>
  <script>
  CMS.registerPreviewStyle("../style.css");
  </script>
  {% for theme in site.themes %}
    <script type="module" src="./preview/{{ theme }}/index.js"></script>
  {% endfor %}
    <script type="module" src="./gitpr.js"></script>
</body>

</html>