---
permalink: /admin/config.yml
---
{#- Use local backend 
https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository
-#}
local_backend: {{'true' if env.devProxy else 'false'}}

{% include "./config.yml" -%}

{%- set allThemes -%}
{%- for theme in site.themes %}
{% include "theme/" + theme + "/config.yml" ignore missing -%}
{%- endfor -%}
{%- endset -%}

{{- allThemes | replace("collections:", "") | safe -}}