---
permalink: /admin/config.yml
---
{#- Parent -#}
{%- include "./config.yml" -%}

{#- Themes -#}

{%- set allThemes -%}

{#- Concatenate all themes -#}
{%- for theme in site.themes %}{# safety space #}
{% include "theme/" + theme + "/config.yml" ignore missing -%}
{%- endfor -%}

{%- endset -%}

{#- Remove "collections:" to return valid configuration -#}
{{- allThemes | replace("\ncollections:", "") | replace("collections:", "") | safe -}}