---
layout: layouts/base.njk
title: Sorry, nothing to see here
permalink: /404.html
---
<div class="max-w-3xl m-auto">
    <h1 class="mt-8 text-center text-gray-300 text-9xl">404</h1>
    <p class="m-auto prose text-center">
        Hello, welcome to {{ site.title }}<br/>
        It seems you look for something that not available in this website.<br/>
        You may want to go to our <a href="{{ '/' | url }}">homepage</a>.
    </p>
</div>