---
layout: layouts/base.njk
title: Home
features:
  - a: "Easy 👋"
    b: "Get started really easily with Netlify deploy button."
  - a: "Intuitive 👌"
    b: "Create form exactly as you want it with instant preview."
  - a: "Extendable 🍵"
    b: "Extend with components. Make your own component with Tailwind CSS + Eleventy + Alpine.js."
---

<div class="flex flex-col min-h-screen">
  <div
    class="h-1 transform to-green-200 via-green-400 bg-gradient-to-r from-green-200"
  ></div>
  <style>
    .sativa::after {
      background: url(/img/sativa.png);
      content: "";
      opacity: 0.6;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  </style>
  <div
    class="relative flex-grow transform bg-gradient-to-b from-white to-gray-100 sativa"
  >
    <div class="bg-white">
      <!-- navbar -->
      <nav
        class="container max-w-screen-xl px-5 m-auto"
        x-data="{ open: true, init: true }"
      >
        <div
          class="relative flex flex-col items-stretch sm:flex-row sm:justify-between"
        >
          <div class="flex items-stretch justify-between">
            <!-- nav-logo -->
            <a
              href="{{ '/' | url }}"
              class="px-2 py-2 my-3 font-bold text-white bg-gray-800 rounded"
            >
              {{ site.title }}
            </a>

            <!-- nav-button -->
            <button
              class="block px-2 py-2 my-auto text-sm select-none rounded-xl sm:hidden focus:bg-gray-100 focus:outline-none"
              :class="{'bg-gray-100 px-4': !init && open }"
              @click="open = !open;init ? (init = false, open = true) : '';"
              x-text=" init ? '{\ menu\ }' : open ? 'X' : '{\ menu\ }'"
            ></button>
          </div>

          <!-- nav-menu -->
          <div
            class="absolute z-10 w-full sm:w-auto top-16 sm:block sm:static"
            :class="{'hidden sm:static': init}"
            @click.away="open = false"
            x-show.transition.origin.top.right="open"
          >
            <ul
              class="flex flex-col px-5 py-2 text-gray-600 bg-white border rounded-lg shadow-xl sm:border-0 sm:w-auto sm:p-0 sm:flex-row sm:m-0 sm:shadow-none"
            >
              {% for item, link in site.nav %}
              <li
                class="py-3 text-sm text-center transition sm:text-left sm:pl-8 sm:py-5 hover:text-green-400"
              >
                <a href="{{ link }}">{{ item }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>

      <!-- hero -->
      {% if (env.site.showHero or site.showHero) %}
      <div class="shadow-lg">
        <div class="container max-w-screen-xl px-5 pb-16 m-auto sm:pb-28">
          <section class="py-16 text-center lg:py-24">
            <!-- hero-title -->
            <h2
              class="p-5 mx-auto mb-5 text-4xl font-bold text-white transform rounded-lg bg-gradient-to-tr from-gray-900 to-gray-600 sm:rounded-xl max-w-max sm:text-5xl"
            >
              Static Form
            </h2>
            <h3 class="text-2xl italic text-gray-700 mb-9">
              Extendable Form Builder that Easy to Deploy
            </h3>

            <!-- hero-button -->
            <div
              class="flex flex-col max-w-sm m-auto space-y-5 text-center sm:block sm:max-w-max"
            >
              <a
                href="https://docs.staticform.click/#/quick-start"
                class="py-3 mr-0 text-sm font-bold text-white transition bg-green-500 rounded px-7 sm:mr-2 text hover:bg-green-600"
              >
                Deploy (5 min)
              </a>
              <a
                href="#form-demo"
                class="py-3 mr-0 text-sm text-gray-700 transition bg-gray-100 border rounded border-grey-600 px-7 sm:mr-2 text hover:text-gray-800 hover:bg-gray-200"
              >
                Example / Demo
              </a>
              <a
                href="https://docs.staticform.click"
                class="px-4 py-3 underline hover:no-underline sm:block"
                >See Documentation
              </a>
            </div>
          </section>

          <section
            class="pt-10 mx-auto mb-10 space-y-10 border-t md:flex md:justify-between md:border-none md:pt-0"
          >
            <!-- hero-feature -->
            <ul
              class="items-center max-w-sm m-auto space-y-8 text-center md:mr-8 md:ml-0 md:text-left"
            >
              {% for item in features %}
              <li class="md:pl-5 md:border-l-4 md:border-green-400">
                <h3 class="mb-1 text-lg font-bold text-gray-700">
                  {{ item.a }}
                </h3>
                <p class="text-gray-700">
                  {{ item.b }}
                </p>
              </li>
              {% endfor %}
            </ul>
            <div class="grid max-w-3xl grid-cols-12 grid-rows-6">
              <video
                autoplay
                muted
                loop
                playsinline
                class="z-10 col-start-2 col-end-13 row-start-2 row-end-7 rounded-lg shadow-lg"
              >
                <source src="/img/web.webm" type="video/webm" />
                <source src="/img/web.mp4" type="video/mp4" />
              </video>
              <div
                class="col-start-1 col-end-12 row-start-1 row-end-6 transform bg-green-400 shadow-lg rounded-xl rotate-2"
              ></div>
            </div>
          </section>
        </div>
        <!-- end container -->
      </div>
      <!-- end gradient -->

      <section class="relative md:mb-28">
        <div
          class="text-white bg-gray-800 md:max-w-xl md:rounded-3xl md:shadow-xl md:absolute md:-top-16 md:mx-auto md:left-0 md:right-0"
        >
          <div class="px-5 pt-4 pb-8 text-center">
            <div class="mb-6 text-gray-300" id="form-demo">
              <p class="mb-1 text-3xl text-white">Get Started Now.</p>
              <p>
                Deploy your own instance of Static Form or try demo.
              </p>
            </div>
            <div
              class="flex flex-col mx-auto space-y-5 text-center sm:block sm:max-w-max"
            >
              <a
                href="https://docs.staticform.click/#/quick-start"
                class="py-3 mr-0 text-sm font-bold text-white transition bg-green-500 rounded px-7 sm:mr-2 hover:bg-green-600"
              >
                Deploy (5 min)
              </a>
              <a
                href="/admin"
                class="py-3 mr-0 text-sm text-gray-200 transition border border-gray-400 rounded px-7 sm:mr-2 text hover:bg-gray-900"
              >
                Try Demo
              </a>
            </div>
          </div>
        </div>
      </section>
      {% endif %}
    </div>

    <section class="container max-w-screen-md px-5 py-20 m-auto">
      <h3 class="mb-4 text-3xl">Recent Form</h3>

      <div>
        <ul class="flex flex-wrap">
          {%- for form in collections.forms | reverse -%}
          <li class="w-full py-1 sm:px-1 sm:w-1/2">
            <a
              href="{{ form.url }}"
              class="block h-full p-5 text-lg text-gray-700 transition bg-white border-2 shadow rounded-xl hover:shadow-lg hover:border-green-300 focus:border-green-300 focus:outline-none"
            >
              <p class="mb-3 text-sm text-gray-400">
                {{ form.data.layout }}
                -
                {{ form.data.date | readable }}
              </p>
              <p>{{ form.data.title }}</p>
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </section>
  </div>
  <!-- end flex-grow -->

  <footer
    class="h-1 transform to-green-400 via-green-500 bg-gradient-to-r from-green-400"
  ></footer>
</div>
