{% if page.url === "/" %}
<a href="/admin">
    <div class="fixed p-2 text-sm font-bold tracking-tighter text-white transition bg-gray-300 rounded opacity-50 hover:opacity-100 hover:shadow-lg right-4 bottom-4 bg-gradient-to-r hover:from-blue-300 hover:to-green-400">
        admin
    </div>
</a>
{% endif %}