<footer class="flex h-2 mt-auto bg-green-500">

    <!-- 
    Netlify CMS only require Identity for initial registration and devlopment using git-gateway
    You can safely disable it after that.
    -->
    {% if page.url == "/" %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>
    {% endif %}


    {% set js %}
        let waNumber = "{{ waNumber }}";
        let mode = "{{ mode }}";
        {% include "js/inline.js" %}
    {% endset %}
    <script>
    {{ js | safe }}
    </script>

</footer>